{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div id="fh5co-services-section">
	<div class="row">
		<h3> Add Album </h3>
		</br>
		<form method='POST' action="{{url_for('addAlbum')}}">
			<h4> Album Name</h4>
			<input type='text' name='album_name' placeholder="Album Name" size=30>
			</br>
			<h4>Description</h4>
			<input type='text' name='description' placeholder='Description' size=30>
			</br>
			<h4>User Id</h4>
			<input type='text' name='user_id' placeholder='User Id' size=30>
			</br>
			<h4> Music Band</h4>
			<select name='band'>
				{% for band in bands %}
					<option value='{{band.name}}'>{{band.name}}</option>
				{% endfor %}
			</select>
			<button type='submit' value='Submit'>Submit</button>
		</form>
		</br>
		<a href="{{url_for('homePage')}}">Cancel</a>
	</div>
</div>
{% endblock %}