{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div id="fh5co-services-section">
	<div class="row">
		<div class="col-md-6 animate-box">
			<div class="services">
				<h3>Music Bands</h3>
				<ul>
				{% for band in music_bands %}
					<li><a href="{{url_for('showBandAlbums', music_band_name = band.name)}}">{{ band.name }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-6 animate-box">
			<div class="services">
				<div class="desc">
					<h3>{{currentBand.name}} ( {{number_of_albums}} Albums )</h3>
					<ul>
						{% for album in albums %}
							<li><a href="{{url_for('showAlbumInfo', music_band_name = currentBand.name, album_name = album.name)}}">{{ album.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}